html {
	height: 100%;
	margin: 0px:
	padding: 0px;
}

body {
	font-family: 'Heebo';
	background-color: #D9D9D9;
	color: #0F3D66;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

footer {
	font-size: 14px;
	bottom: 0%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: bold;
}

#footer-right {
	font-size: 8px;
}


#mainbar {
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 0%;
	padding-bottom: 1%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #0F3D66;

}

#homebar {
	margin-top: 25%;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 25%;
	padding-bottom: 1%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #0F3D66;
}

#home {
	font-size: 32px;
	color: #0F3D66;
	font-weight: bold;
}


#menu {
	font-size: 16px;
	color: #51779E;
}

#active {
	color: #0F3D66;
	font-weight: bold;
}

.fa {
	padding: 5px;
	width: 18px;
	text-align: center;
	text-decoration: none;
	border-radius: 20%;
	background: #51779E;
  	color: #D9D9D9;
}

.fa:hover {
	background: #0F3D66;
	color: #D9D9D9;
	font-weight: bold;
}

#maintext {
	font-size: 14px;
	text-align: left;
	margin-left: 1%;
	margin-right: 1%;
}

.aboutpage {
	margin-left: 1%;
	margin-right: 1%;
	flex: 1;
}
.LI-profile-badge {
	float: left;
	width: 20%;
}
#abouttext {
	font-size: 14px;
	text-align: left;
	margin-left: 25%;
}

.teampage {
	margin-left: 1%;
	margin-right: 1%;
	flex: 1;
}

.servicespage {
	margin-left: 1%;
	margin-right: 1%;
	flex: 1;
}

div#googlemap{
 	text-align: center;
 	margin-top: 2%;
 	background-color: #ffbc97;
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	width: 610px;
 	height: 460px;
 	margin-left: auto;
 	margin-right: auto;
 }

iframe#googlemap {
	border: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover{
	color: #0F3D66;
}


